<h2><%= @user.first_name %>, these are the cars in your garage:</h2>
<ul>
  <% @cars.each do |car| %>
    <li><a href="/users/<%= @user.id %>/cars/<%= car.id %>"><%= car.make %> <%= car.car_model %></a></li>
  <% end %>
</ul>

<a href="/users/<%= @user.id %>/cars/new">Add a car to your garage</a>
